// colours
$white: #fff;
$black: #000;

// layout
$mobileMaxWidth: 767;
$tabletMaxWidth: 1023;

$tabletBreakpoint: $mobileMaxWidth + 1 + px;
$desktopBreakpoint: $tabletMaxWidth + 1 + px;
$widescreenBreakpoint: 1501 + px;

$mobileBodyPadding: 30px;
$tabletBodyPadding: 100px;
$desktopBodyPadding: 11vw;

// fonts

// exports
:export {
  white: $white;
  black: $black;

  mobileMaxWidth: $mobileMaxWidth;
  tabletMaxWidth: $tabletMaxWidth;
}
