// used to add global styles to be used in styled-components

@font-face {
  font-family: 'ArquitectaStd';
  src: url('./statics/fonts/ArquitectaStd/ArquitectaStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ArquitectaStd';
  src: url('./statics/fonts/ArquitectaStd/ArquitectaStd-Heavy.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ArquitectaStd';
  src: url('./statics/fonts/ArquitectaStd/ArquitectaStd-HeavyIt.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
