@import "fonts";
@import "partials/variables";
@import "partials/text-styles";
@import "partials/responsive";

body {
  @extend %body;
  overflow-x: hidden;
  margin: 0;
}

h1 {
}

h2 {
}

a {
  text-decoration: none;
  cursor: pointer;
}
